		/**남욱**/
		
		div.content{width:1300px;margin:auto;/*화면 가운데 나오게**//* border:1px solid red */}
		section.section1{/* border:1px solid purple; */overflow:auto;width:100%;
		background-color:#f8f8f8;}

		section.section1  div.m1{/* border:1px solid green; */float:left;}
		section.section1  div.m2{
		/* background-color:purple; */
		/* position:fixed; */
		/* border:1px solid blue; */margin:85px 5px 50px 16px;overflow:hidden;
		display:inline-block;width:850px;}
		
		section.section1  div.m2>div{
			/* border:1px solid red; */clear:both;
		display:inline-block;width:860px;margin-right:10px;
		}
		section.section1 aside.my_aside{
		   /*  position: relative; */
   			float: left;  
    		margin-right: 20px;
    		width: 380px;
    		background-color: #f8f8f8; 
    		/* border:1px solid rgb(163,163,194); border-radius:55px; */
    		
		}
		section.section1 aside.my_aside div.info{ width:100%;float:left;/* border:1px solid green; */}
		section.section1>div.m1>aside.my_aside>div.info>ul{text-align:center;}
		section.section1>div.m1>aside.my_aside>div.info>ul>li:nth-child(1){
			/* border:1px solid purple; */ /* background-color:rgb(79,123,240); */
		}
		section.section1>div.m1>aside.my_aside>div.info>ul>li:nth-child(2),
		section.section1>div.m1>aside.my_aside>div.info>ul>li:nth-child(3){
			text-align:center;
		}
		section.section1>div.m1>aside.my_aside>div.info>ul>li:nth-child(2) div,
		section.section1>div.m1>aside.my_aside>div.info>ul>li:nth-child(3) div{
			display:inline-block; width: 100px;border:1px solid gray ; border-radius:2px;padding:5px;margin:1px;
			color: rgb(79,123,240);
		}
		section.section1>div.m1>aside.my_aside>div.info>ul>li span.thum{
			display:inline-block;width:98px;height:98px;border-radius:50%;border:1px solid #f8f8f8;
			overflow:hidden; background-color:#f8f8f8;
			background-image: url("http://localhost:9000/MyWook/images/my_people_100x100.png");
			margin:60px 0 ;
		}
		section.section1>div.m1>div.prf{
		clear:both;width:380px;margin-right: 20px;text-align:center;
		padding:15px 0; font-size:15px;font-weight:500;background-color:#f8f8f8;
		
		/* border-radius:5px;border:1px solid gray; */
		}
		section.section1>div.m1>div.prf a{
			color:color:rgb(22,27,42); text-decoration:underline;
		}
		section.section1>div.m1>div.prf a:hover{
			 color:rgb(79,123,240);
		}
		
		/**************aside 부분 여기까지*************/
		
		
		section.section1>div.m2>div>ul{
			list-style-type:none;
			margin-left:5px;
			text-align:center;
		}
		section.section1>div.m2>div>ul li{display:inline-block; margin:30px 70px;}
		section.section1>div.m2>div>ul li span{
		display:inline-block;width:125px;height:125px;border-radius:50%;border:1px solid rgb(79,123,240);
		overflow:auto; background-color:rgb(79,123,240); color:white; }
		/********************section1 끝남************************/
		
		section.section2{
			margin-top:50px;
		}
		section.section2>div.mypage_bar{
			margin-bottom:60px;
		}
		section.section2>div.mypage_bar>ul{
			text-align:center;
			/* border:1px solid red; */
			list-style-type:none;
			
		}
		section.section2>div.mypage_bar>ul>li{
			width:20%;
			/* border:1px solid black; */
			margin:0px -1px;
			text-align:center;
			padding:30px 85px;
			display:inline-block;
			background-color:rgb(236,241,253);
			
		}
		section.section2>div.mypage_bar>ul>li div{
			 color:rgb(79,123,240); font-size:20px;font-weight:800;
		
		}
		section.section2>div.mypage_bar>ul>li:first-child{
			/* argin-left:13px; */
		}
		section.section2>div.j1>ul>li>div{
		color:rgb(79,123,240);}
		section.section2>div.mypage_content_introduce div.bar,
		section.section2>div.mypage_content_portfolio div.bar,
		section.section2>div.mypage_content_evaluation div.bar{
			font-size:18px;color:rgb(79,123,240);font-weight:500;
			margin:30px 0;
		}

		.section2>div.mypage_content_portfolio>div.p_select{
			text-align:right; margin:0 10px 5px 0;
		}
		.section2>div.mypage_content_portfolio>div.p_select>select.p_select_bar{
			 display:inline-block; width:250px; height:30px;background-color:rgb(241,243,244);
			  border-radius:5px; border:1px solid rgb(79,123,240);
		}

		.section2>div.mypage_content_portfolio_content{
			background-color:rgb(241,243,244);
			border:1px solid rgb(79,123,240); border-radius:15px;padding:150px 0;
			text-align:center; display:inline-block;width:100%;color:rgb(79,123,240);
		}
		.section2>div.mypage_content_portfolio_content>ul>li{
			list-style-type:none; color:rgb(79,123,240);
		}
		.section2>div.mypage_content_portfolio_content>ul>li img{
			display:inline-block;
			width:180px;height:100px; 
		
		}
		.section2>div.star{
			text-align:center; border:1px solid rgb(79,123,240); border-radius:15px;
			background-color:rgb(241,243,244);color:rgb(79,123,240);
			padding:100px 0;margin:10px 0 50px 0;font-size:50px;font-weight:500;
		}
		
		
		/**** 정욱 ****/
		
		/** 팝업실행버튼 **/
        .gogo_login{display: block; width: 100px; height: 50px; text-decoration: none; 
        text-align: center; line-height: 50px; background-color:#FAE780;
        font-size: 14px; color: #303441; border-radius: 30px;}

		/** 팝업창 **/
        .login_popup{width: 1000px; height: 600px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius:15px; box-sizing: border-box;
        position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
        background-color: #ffffff; opacity: 0; transition: all 0.5s;z-index: 2;}

		/** 팝업x버튼 **/
        .login_popup .x_btn{position: absolute;right:20px; top: 10px; gray; text-decoration: none; color: gray;}
        /** 팝업실행버튼눌렀을때 **/
        .login_popup:target{opacity: 1;}
        .login_popup:target + .dim{opacity: 1;z-index: 1;}
        /** 팝업눌렀을때뒷배경흐리게 **/
        .dim{position: absolute; left: 0; top: 0; background-color: rgba(0, 0, 0, 0.3);
            width: 100%; height: 100%; opacity: 0; z-index: -1;transition: all 0.5s;}
        /** 이미지+로그인레이아웃**/
        .login_form{
            width: 100%; height: 100%;
            border-radius:15px ;
            display: flex;
        }
        /** 이미지폼 **/
        .image_form{
            background-image:url(../images/login_img.jpg);
            flex: 2;
            border-radius:15px 0 0 15px ;
            background-size: cover;
        }
        /** 로그인폼 **/
        .input_login_form{
            flex: 1;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px 10px 20px 10px;
        }
        .input_login_form ul{
            list-style: none;
        }
        .input_login_form li{
            padding-top: 6px;
            padding-bottom: 6px;
        }
        .input_login_form a {
            text-decoration: none;
        }
        .input_login_form .h3_login h3 {
            font-size: 24px;
            color: #303441;
            line-height: 28px;
        }
        /** 아이디비밀번호사이즈 **/
        .input_login_form .id_input input,
        .input_login_form .pw_input input {
            border-radius: 6px;
            width: 250px;
            height: 43px;
            border: 1px solid  #cdcdcd;
            text-indent: 10px;
            font-size: 14px;
        }
       	/** 로그인버튼**/
        .input_login_form .lohin_btn a{
            display: inline-block;
            width: 257px;
            height: 49px;
            background-color: #116ad4;
            border-radius: 4px;
            font-size: 17px;
            color: white;
            text-align: center;
            padding-top: 10px;
            box-sizing: border-box;
        }
		/** 체크박스 아이디비밀번호찾기 **/
        .input_login_form .ch_login,
        .input_login_form .find_id{
            display: inline-block;
        }
        .input_login_form .ch_login input{
            margin-right: 8px;
        }
        .input_login_form .find_id{
            margin-left: 41px;
        }
        .input_login_form .ch_login label,
        .input_login_form .find_id a{
            font-size: 13px;
            color: #4d4d4d;
        }
        /** 실선 **/
        .input_login_form li:nth-child(7) div{
            margin-top: 30px;
            width: 90%;
            height: 1px;
            background: #c2b7b7;
        } 
        /** 사람온에오신것을환영합니다 **/
        .input_login_form .login_text{
            width: 90%;
            height: 100px;
        } 
        .input_login_form .login_text p{
            color: #304441;
            font-size: 14px;
        }
        /** 회원가입 **/
        .input_login_form .login_account{
            border: 1px solid #116ad4;
            border-radius: 4px;
            width: 90%;
            height: 40px;
            text-align: center;
            line-height: 40px;
        }
        .input_login_form .login_account a{
            color: #116ad4;
        }
        
    /*
		join1 : 회원가입 화면(지혜)
	*/
	
	body.join { background-color:rgb(245,245,245); 
		/* background: -webkit-linear-gradient(90deg, rgb(255, 255, 255), rgb(154, 197, 239));
		background: linear-gradient(90deg, rgb(255, 255, 255), rgb(154, 197, 239)); */

		/*  background: -webkit-linear-gradient(91deg, rgb(177, 213, 245), rgb(213, 225, 238));
		background: linear-gradient(91deg, rgb(177, 213, 245), rgb(213, 225, 238)); */ 

	
		/* background: linear-gradient(90deg, #D8ECFF, #F9CFE9, #FFEBD6, #E8DDFE); 
		background-size: 800% 800%; 
			-webkit-animation: AnimationName 16s ease infinite; 
			-moz-animation: AnimationName 16s ease infinite; 
			-o-animation: AnimationName 16s ease infinite; 
			animation: AnimationName 16s ease infinite; */
				}

	/* @-webkit-keyframes AnimationName { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} } 
	@-moz-keyframes AnimationName { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} } 
	@-o-keyframes AnimationName { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} } 
	@keyframes AnimationName { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} } 
	.container { color: #fff; background: linear-gradient(-45deg, #ee7752, #e73c7e, #C7EFFF, #23d5ab); background-size: 400% 400%; 
				animation: AnimationName 15s ease infinite; width: 100%; height: 100vh; display: flex; 
				flex-direction: column; align-items: center; justify-content: center; top: 35%; 
				text-align: center; }
 */
				
	section.join1>form { text-align:left; padding-left:37%;}
	section.join1>div.logo { padding-left:30%;}
	section.join1>div.logo img { width:450px; height:140px; margin-left:10%;}
	section.join1>form>ul { list-style-type:none; width:500px;}
	section.join1>form>ul>li {margin:15px;}
	section.join1>form>ul>li>div {margin-bottom:10px;}
	section.join1>form>ul>li>div>label {font-weight:550;}
	section.join1>form>ul>li>input, section.join1>form>ul>li>select {text-indent:10px; }
	section.join1>form>ul>li>input[type="text"],
	section.join1>form>ul>li>input[type="password"],
	section.join1>form>ul>li>select {
		width:260px; height:33px; border:none; font-size:15px; margin:5px 0;
	}
	section.join1>form>ul>li input.year { width:95px; height:33px;}
	section.join1>form>ul>li>select.month, section.join1>form>ul>li>select.day { width:95px; height:35px;}
	section.join1>form>ul>li>select.number { width:198px; height:35px;}
	section.join1>form>ul>li>select.gender { width:120px; height:35px; }
	section.join1>form>ul>li span.red {color:red; font-weight:800; margin-right:3px;}
	section.join1>form>ul>li>div>label span.opt1 {color:gray; font-weight:600;}
	section.join1>form>ul>li>button {
		background-color:rgb(79,123,240); 
		border:none; width:190px; height:50px; color:white;
		font-weight:700; font-size:15px;}
	section.join1>form>ul>li button.con_number {width:120px; height:33px; margin:10px; 
		background-color:rgb(127,178,240); }
	section.join1>form>ul>li>button:hover {background-color:#035FB2;}
	section.join1>form>ul>li:last-child {margin:50px 50px; }
	
	/*
		join_intro1 : 회원가입 동의 화면(지혜)
	*/
	section.join_intro1>div.logo {padding-left:30%;}
	section.join_intro1>div.logo img { width:400px; height:120px; margin-left:10%;}
	section.join_intro1>form>ul {list-style-type:none; text-align:center;}
	section.join_intro1>form textarea {width:80%; height:100px; border:none;}
	section.join_intro1>form>ul>li {padding:12px;}
	section.join_intro1>form>ul>li span.opt {color:rgb(79,123,240); font-weight:600;}
	section.join_intro1>form>ul>li span.opt1 {color:gray; font-weight:600;}
	section.join_intro1>form>ul>li>div {margin-bottom:10px;}
	section.join_intro1>form>ul>li input[type="checkbox"] {margin-right:10px; }
	section.join_intro1>form>ul>li>p {font-size:10px; color:gray; width:60%; display:inline-block;}
	section.join_intro1>form>ul>li>button, section.join_intro1>form>ul>li>a>button {
			background-color:rgb(127,178,240); border:none; width:190px; height:50px; color:white;
			font-weight:700; font-size:15px;
	}
	section.join_intro1>form>ul>li>button:hover, 
	section.join_intro1>form>ul>li>a>button:hover {
		background-color:#035FB2;
	}
	section.join_intro1>form>ul>li>a>button {background-color:rgb(79,123,240);}
		
		