		/**남욱**/
		
		div.content{width:1300px;margin:auto;/*화면 가운데 나오게**/ /* border:1px solid red; */ }
		section.section1{/* border:1px solid purple; */overflow:auto;width:100%;
		background-color:#f8f8f8;}

		section.section1  div.m1{/* border:1px solid green; */float:left;}
		section.section1  div.m2{
		/* background-color:purple; */
		/* position:fixed; */
		margin:85px 5px 50px 16px;overflow:hidden;
		display:inline-block;/* width:850px; */ width:850px;}
		
		section.section1  div.m2>div{
			/* border:1px solid red; */clear:both;
		display:inline-block;width:880px;margin-right:10px;
		}
		section.section1 aside.my_aside{
		   /*  position: relative; */
   			float: left;  
    		margin-right: 20px;
    		width: 380px;
    		background-color: #f8f8f8; 
    		/* border:1px solid rgb(163,163,194); border-radius:55px; */
    		
		}
		section.section1 aside.my_aside div.info{ width:100%;float:left;/* border:1px solid green; */}
		section.section1>div.m1>aside.my_aside>div.info>ul{text-align:center;}
		section.section1>div.m1>aside.my_aside>div.info>ul li{
			list-style-type:none;
		
		}
		section.section1>div.m1>aside.my_aside>div.info>ul>li:nth-child(1){
			/* border:1px solid purple; */ /* background-color:rgb(79,123,240); */
		}
		section.section1>div.m1>aside.my_aside>div.info>ul>li:nth-child(2),
		section.section1>div.m1>aside.my_aside>div.info>ul>li:nth-child(3){
			text-align:center;
		}
		section.section1>div.m1>aside.my_aside>div.info>ul>li:nth-child(2) div,
		section.section1>div.m1>aside.my_aside>div.info>ul>li:nth-child(3) div{
			display:inline-block; width: 100px;border:1px solid gray ; border-radius:2px;padding:5px;margin:1px;
			color: rgb(79,123,240);
		}
		section.section1>div.m1>aside.my_aside>div.info>ul>li span.thum,
		.section1>div>span.thum{
			display:inline-block;width:98px;height:98px;border-radius:50%;border:1px solid #f8f8f8;
			overflow:hidden; background-color:#f8f8f8;
			background-image: url("http://localhost:9000/MyWook/images/my_people_100x100.png");
			margin:60px 0 ;
		}
		.section1>div>span.thum{
			margin:15px 5px 10px 50px; border:1px solid red;
		}
		section.section1>div.m1>aside.my_aside>div.info>ul>li>div.prf{
		width:180px;display:inline-block;text-align:center;margin-top:10px;
		font-size:15px;font-weight:500;background-color:#f8f8f8;
		
		
		}
		section.section1>div.m1>aside.my_aside>div.info>ul>li div.prf a{
			color:color:rgb(22,27,42); text-decoration:underline;
		}
		section.section1>div.m1>aside.my_aside>div.info>ul>li div.prf a:hover{
			 color:rgb(79,123,240);
		}
		
		/**************aside 부분 여기까지*************/
		
		section.section1>div.m2>div>ul{
			list-style-type:none;
			margin-left:5px;
			text-align:center;
		}
		section.section1>div.m2>div>ul li{display:inline-block; margin:30px 70px;}
		section.section1>div.m2>div>ul li span{
		display:inline-block;width:125px;height:125px;border-radius:50%;border:1px solid rgb(79,123,240);
		/* overflow:auto; */ background-color:rgb(79,123,240); color:white; }
		/********************section1 끝남************************/
		
		section.section2{
			margin-top:50px;
		}
		section.section2>div.mypage_bar{
			margin-bottom:60px;
		}
		section.section2>div.mypage_bar>ul{
			text-align:center;
			/* border:1px solid red; */
			list-style-type:none;
			
		}
		section.section2>div.mypage_bar>ul>li{
			width:19.7%;
			/* border:1px solid black; */
			margin:0px -1px;
			text-align:center;
			padding:30px 85px;
			display:inline-block;
			background-color:rgb(236,241,253);
			
		}
		section.section2>div.mypage_bar>ul>li div{
			 color:rgb(79,123,240); font-size:20px;font-weight:800;
		
		}
		section.section2>div.mypage_bar>ul>li:first-child{
			/* argin-left:13px; */
		}
		section.section2>div.j1>ul>li>div{
		color:rgb(79,123,240);}
		section.section2>div.mypage_content_introduce div.bar,
		section.section2>div.mypage_content_portfolio div.bar,
		section.section2>div.mypage_content_evaluation div.bar{
			font-size:18px;color:rgb(79,123,240);font-weight:500;
			margin:30px 0;
		}

		.section2>div.mypage_content_portfolio>div.p_select{
			text-align:right; margin:0 10px 5px 0;
		}
		.section2>div.mypage_content_portfolio>div.p_select>select.p_select_bar{
			 display:inline-block; width:250px; height:30px;background-color:rgb(241,243,244);
			  border-radius:5px; border:1px solid rgb(79,123,240);
		}

		.section2>div.mypage_content_portfolio_content{
			background-color:rgb(241,243,244);
			border:1px solid rgb(79,123,240); border-radius:15px;padding:150px 0;
			text-align:center; display:inline-block;width:100%;color:rgb(79,123,240);
		}
		.section2>div.mypage_content_portfolio_content>ul>li{
			list-style-type:none; color:rgb(79,123,240);
		}
		.section2>div.mypage_content_portfolio_content>ul>li img{
			display:inline-block;
			width:180px;height:100px; 
		
		}
		.section2>div.star{
			text-align:center; border:1px solid rgb(79,123,240); border-radius:15px;
			background-color:rgb(241,243,244);color:rgb(79,123,240);
			padding:100px 0;margin:10px 0 50px 0;font-size:50px;font-weight:500;
		}
		
		/******남욱 -프로필 등록 수정********/
		.section1>div>aside.my_aside_profile{
			float:left; border:1px solid purple;width:600px;
		}
        
    /*
		join1 : 회원가입 화면(지혜)
	*/
	
	body.join { background-color:rgb(245,245,245); 
		/* background: -webkit-linear-gradient(90deg, rgb(255, 255, 255), rgb(154, 197, 239));
		background: linear-gradient(90deg, rgb(255, 255, 255), rgb(154, 197, 239)); */

		/*  background: -webkit-linear-gradient(91deg, rgb(177, 213, 245), rgb(213, 225, 238));
		background: linear-gradient(91deg, rgb(177, 213, 245), rgb(213, 225, 238)); */ 

	
		/* background: linear-gradient(90deg, #D8ECFF, #F9CFE9, #FFEBD6, #E8DDFE); 
		background-size: 800% 800%; 
			-webkit-animation: AnimationName 16s ease infinite; 
			-moz-animation: AnimationName 16s ease infinite; 
			-o-animation: AnimationName 16s ease infinite; 
			animation: AnimationName 16s ease infinite; */
				}

	/* @-webkit-keyframes AnimationName { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} } 
	@-moz-keyframes AnimationName { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} } 
	@-o-keyframes AnimationName { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} } 
	@keyframes AnimationName { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} } 
	.container { color: #fff; background: linear-gradient(-45deg, #ee7752, #e73c7e, #C7EFFF, #23d5ab); background-size: 400% 400%; 
				animation: AnimationName 15s ease infinite; width: 100%; height: 100vh; display: flex; 
				flex-direction: column; align-items: center; justify-content: center; top: 35%; 
				text-align: center; }
 */
				
	section.join1>form { text-align:left; padding-left:37%;}
	section.join1>div.logo { padding-left:30%;}
	section.join1>div.logo img { width:450px; height:140px; margin-left:10%;}
	section.join1>form>ul { list-style-type:none; width:500px;}
	section.join1>form>ul>li {margin:15px;}
	section.join1>form>ul>li>div {margin-bottom:10px;}
	section.join1>form>ul>li>div>label {font-weight:550;}
	section.join1>form>ul>li>input, section.join1>form>ul>li>select {text-indent:10px; }
	section.join1>form>ul>li>input[type="text"],
	section.join1>form>ul>li>input[type="password"],
	section.join1>form>ul>li>select {
		width:260px; height:33px; border:none; font-size:15px; margin:5px 0;
	}
	section.join1>form>ul>li input.year { width:95px; height:33px;}
	section.join1>form>ul>li>select.month, section.join1>form>ul>li>select.day { width:95px; height:35px;}
	section.join1>form>ul>li>select.number { width:198px; height:35px;}
	section.join1>form>ul>li>select.gender { width:120px; height:35px; }
	section.join1>form>ul>li span.red {color:red; font-weight:800; margin-right:3px;}
	section.join1>form>ul>li>div>label span.opt1 {color:gray; font-weight:600;}
	section.join1>form>ul>li>button,section.join1>form>ul>li:last-child a>button {
		background-color:rgb(79,123,240); 
		border:none; width:190px; height:50px; color:white;
		font-weight:700; font-size:15px;}
	section.join1>form>ul>li button.con_number {width:120px; height:33px; margin:10px; 
		background-color:rgb(127,178,240); }
	section.join1>form>ul>li>button:hover {background-color:#035FB2;}
	section.join1>form>ul>li:last-child {margin:50px 50px; }
/* 	section.join1>form>ul>li:last-child a>button{background-color:red;} */
	
	/*
		join_intro1 : 회원가입 동의 화면(지혜)
	*/
	section.join_intro1>div.logo {padding-left:30%;}
	section.join_intro1>div.logo img { width:400px; height:120px; margin-left:10%;}
	section.join_intro1>form>ul {list-style-type:none; text-align:center;}
	section.join_intro1>form textarea {width:80%; height:100px; border:none;}
	section.join_intro1>form>ul>li {padding:12px;}
	section.join_intro1>form>ul>li span.opt {color:rgb(79,123,240); font-weight:600;}
	section.join_intro1>form>ul>li span.opt1 {color:gray; font-weight:600;}
	section.join_intro1>form>ul>li>div {margin-bottom:10px;}
	section.join_intro1>form>ul>li input[type="checkbox"] {margin-right:10px; }
	section.join_intro1>form>ul>li>p {font-size:10px; color:gray; width:60%; display:inline-block;}
	section.join_intro1>form>ul>li>button, section.join_intro1>form>ul>li>a>button {
			background-color:rgb(127,178,240); border:none; width:190px; height:50px; color:white;
			font-weight:700; font-size:15px;
	}
	section.join_intro1>form>ul>li>button:hover, 
	section.join_intro1>form>ul>li>a>button:hover {
		background-color:#035FB2;
	}
	section.join_intro1>form>ul>li>a>button {background-color:rgb(79,123,240);}
		
	/*
		cat폴더(지혜)
	*/	
	div.cat_body {
		width:1250px;
		margin:auto;
		/* border:1px solid red; */ 
	}
	
	aside {
		height:500px;
		width:180px;
		float:left;
 		/* border:1px solid purple; */ 
 		padding-top:15px;
 	}
	
	body ul.cat_content {/* border:1px solid purple; */ width:1000px; margin-left:-40px;}
	
	aside>nav>ul>li {
		list-style-type:none;
		margin:15px 0 0 -15px;
		padding-top:10px;
	}
	
	aside>h1,
	aside>nav>ul>li a {
		color:#333;
		font-weight:600;
		text-decoration:none;
		clear:both;
	}
	
	aside>h1 {padding-top:10px; padding-left:15px; clear:both;}
	
	ul.cat_content {padding:30px; padding-left:250px; }
	
	ul.cat_content>li {list-style-type:none; float:left; margin:0px; padding:0px;}
	
	ul.cat_content>li img.pr_img {width:230px; height:160px; border-radius:6px; 
				margin:25px 10px 3px 10px;}
				
	ul.cat_content>li>div {text-align:right; font-weight:550; margin-right:25px; margin-top:-10px;}
	
	ul.cat_content>li img.star { width:15px; height:15px; margin:0 5px 0 0; }
				
	ul.cat_content>li>a {text-decoration:none;}			
	
	ul.cat_content>li div.con_name {
		font-size:13px; color:gray; font-weight:600; padding-left:15px;  
	}
	
	ul.cat_content>li div.con_title {font-size:16px; color:#333; padding:5px 0 0 0; padding-left:15px; font-weight:600}
	
	ul.cat_content img.pr_img:hover { opacity:0.3; }
	
	