    /*
		join1 : 회원가입 화면(지혜)
	*/
	
	body.join { background-color:rgb(245,245,245); 
		/* background: -webkit-linear-gradient(90deg, rgb(255, 255, 255), rgb(154, 197, 239));
		background: linear-gradient(90deg, rgb(255, 255, 255), rgb(154, 197, 239)); */

		/*  background: -webkit-linear-gradient(91deg, rgb(177, 213, 245), rgb(213, 225, 238));
		background: linear-gradient(91deg, rgb(177, 213, 245), rgb(213, 225, 238)); */ 

	
		/* background: linear-gradient(90deg, #D8ECFF, #F9CFE9, #FFEBD6, #E8DDFE); 
		background-size: 800% 800%; 
			-webkit-animation: AnimationName 16s ease infinite; 
			-moz-animation: AnimationName 16s ease infinite; 
			-o-animation: AnimationName 16s ease infinite; 
			animation: AnimationName 16s ease infinite; */
				}

	/* @-webkit-keyframes AnimationName { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} } 
	@-moz-keyframes AnimationName { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} } 
	@-o-keyframes AnimationName { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} } 
	@keyframes AnimationName { 0%{background-position:0% 50%} 50%{background-position:100% 50%} 100%{background-position:0% 50%} } 
	.container { color: #fff; background: linear-gradient(-45deg, #ee7752, #e73c7e, #C7EFFF, #23d5ab); background-size: 400% 400%; 
				animation: AnimationName 15s ease infinite; width: 100%; height: 100vh; display: flex; 
				flex-direction: column; align-items: center; justify-content: center; top: 35%; 
				text-align: center; }
 */
				
	section.join1>form { text-align:left; padding-left:37%;}
	section.join1>div.logo { padding-left:30%;}
	section.join1>div.logo img { width:450px; height:140px; margin-left:10%;}
	section.join1>form>ul { list-style-type:none; width:500px;}
	section.join1>form>ul>li {margin:15px;}
	section.join1>form>ul>li>div {margin-bottom:10px;}
	section.join1>form>ul>li>div#id_msg, section.join1>form>ul>li>div#pass_msg,
	section.join1>form>ul>li>div#cpass_msg, section.join1>form>ul>li>div#email_msg {
		font-weight:bold; text-indent:7px; font-size:13.5px;}
	section.join1>form>ul>li>div>label {font-weight:550;}
	section.join1>form>ul>li>input, section.join1>form>ul>li>select {text-indent:10px; }
	section.join1>form>ul>li>input[type="text"],
	section.join1>form>ul>li>input[type="password"],
	section.join1>form>ul>li>select {
		width:260px; height:33px; border:none; font-size:15px; margin:5px 0;
	}
	section.join1>form>ul>li input.year { width:95px; height:33px;}
	section.join1>form>ul>li>select.month, section.join1>form>ul>li>select.day { width:95px; height:35px;}
	section.join1>form>ul>li>select.number { width:198px; height:35px;}
	section.join1>form>ul>li>select.gender { width:120px; height:35px; }
	section.join1>form>ul>li span.red {color:red; font-weight:800; margin-right:3px;}
	section.join1>form>ul>li>div>label span.opt1 {color:gray; font-weight:600;}
	section.join1>form>ul>li>button,section.join1>form>ul>li:last-child a>button {
		background-color:rgb(79,123,240); 
		border:none; width:190px; height:50px; color:white;
		font-weight:700; font-size:15px; border-radius:7px;
}
	section.join1>form>ul>li button.con_number {width:120px; height:33px; margin:10px; 
		background-color:rgb(127,178,240); }
	section.join1>form>ul>li>button:hover {background-color:#035FB2; background:#035FB2;}
	section.join1>form>ul>li:last-child {margin:50px 50px; }
/* 	section.join1>form>ul>li:last-child a>button{background-color:red;} */
	
	.warning {
        animation: warning 0.3s ease;
        animation-iteration-count: 3;
      }
     @keyframes warning {
        0% {
          transform: translateX(-4px);
        }
        25% {
          transform: translateX(4px);
        }
      }
		
	/*
		join_intro1 : 회원가입 동의 화면(지혜)
	*/
	section.join_intro1>div.logo {padding-left:30%;}
	section.join_intro1>div.logo img { width:400px; height:120px; margin-left:10%;}
	section.join_intro1>form>ul {list-style-type:none; text-align:center;}
	section.join_intro1>form textarea {width:80%; height:100px; border:none;}
	section.join_intro1>form>ul>li {padding:12px;}
	section.join_intro1>form>ul>li span.opt {color:rgb(79,123,240); font-weight:600;}
	section.join_intro1>form>ul>li span.opt1 {color:gray; font-weight:600;}
	section.join_intro1>form>ul>li>div {margin-bottom:10px;}
	section.join_intro1>form>ul>li input[type="checkbox"] {margin-right:10px; }
	section.join_intro1>form>ul>li>p {font-size:10px; color:gray; width:60%; display:inline-block;}
	section.join_intro1>form>ul>li>button {
			background-color:rgb(127,178,240); border:none; width:190px; height:50px; color:white;
			font-weight:700; font-size:15px; border-radius:7px;
	}
	section.join_intro1>form>ul>li>button.confirm {background-color:rgb(79,123,240);}
	section.join_intro1>form>ul>li>button:hover, 
	section.join_intro1>form>ul>li>a>button:hover {
		background-color:#035FB2;
	}
		
	/*
		cat폴더(지혜)
	*/	
	div.cat_body {
		width:1250px;
		margin:auto;
		/* border:1px solid red; */ 
	}
	
	aside {
		height:500px;
		width:180px;
		float:left;
		padding-top:15px;
 		/* border:1px solid purple; */
 	}
	
	body ul.cat_content {/* border:1px solid purple; */ width:1000px; margin-left:-40px;}
	
	aside>nav>ul>li {
		list-style-type:none;
		margin:15px 0 0 -15px;
		padding-top:10px;
	}
	
	aside>h1,
	aside>nav>ul>li a {
		color:#333;
		font-weight:600;
		text-decoration:none;
		clear:both;
	}
	
	aside>h1 {padding-top:10px; padding-left:15px; clear:both;}
	
	ul.cat_content {padding:30px; padding-left:250px; }
	
	ul.cat_content>li {list-style-type:none; float:left; margin:0px; padding:0px;}
	
	ul.cat_content>li img.pr_img {width:230px; height:160px; border-radius:6px; 
				margin:25px 10px 3px 10px;}
				
	ul.cat_content>li>div {text-align:right; font-weight:550; margin-right:25px; margin-top:-10px;}
	
	ul.cat_content>li img.star { width:15px; height:15px; margin:0 5px 0 0; }
				
	ul.cat_content>li>a {text-decoration:none;}			
	
	ul.cat_content>li div.con_name {
		font-size:13px; color:gray; font-weight:600; padding-left:15px;  
	}
	
	ul.cat_content>li div.con_title {font-size:16px; color:#333; padding:5px 0 0 0; padding-left:15px; font-weight:600}
	
	ul.cat_content img.pr_img:hover { opacity:0.3; }
	